body {
  background: black;
  font-size: 80%;
  padding: 20px;
}

main {
  background: white;
  height: 45rem;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

main div {
  background: black;
  color: white;
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 80%;
  padding: 20px;
  resize: both;
  overflow: auto;
  text-align: center;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: Black;
  float:left;
}

.footer-left{
  margin:5px;
  font-size:1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border:solid black;
  padding:6px;
  float:left;
}

.footer-right{
  margin:5px;
  font-size:1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float:right;
  border:solid black;
  padding:6px;
}
